<div>

  <div class='flex flex-row justify-between'>
      <h3 class='text-2xl font-medium text-gray-700'>Publisher</h3>

      <button
        onclick="openCreatePublisher()"
        class='px-6 py-3 font-medium tracking-wide text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none hover:cursor-pointer'
      >Create new publisher</button>

    </div>
  <div class='flex flex-col mt-8 h-full w-full'>
    <div class='py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8'>
      <div
        class='inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg'
      >
        <table class='min-w-full'>
          <thead>
            <tr>
              <th
                class='px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50'
              >
                Name
              </th>
              <th
                class='px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50'
              >
                Description
              </th>
              <th
                class='px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50'
              >
                Address
              </th>
              <th
                class='px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50'
              >
                status
              </th>
              <th class='px-6 py-3 border-b border-gray-200 bg-gray-50'></th>
            </tr>
          </thead>

          <tbody class='bg-white'>
            {{#each publisher}}
              <tr class="h-[10rem]">
                <td
                  class='px-6 py-4 border-b border-gray-200 whitespace-nowrap  max-w-[300px] overflow-hidden'
                >
                  <div class='flex items-center'>
                    <div class='flex-shrink-0 w-[7rem] h-auto'>
                      <img
                        src='{{avatar}}'
                        alt='{{createdAt}}'
                      />
                    </div>

                    <div class='ml-4'>
                      <div class='text-sm font-medium leading-5 text-gray-900'>
                        {{name}}
                      </div>
                      <div class='text-sm leading-5 text-gray-500'>
                        {{id}}
                      </div>
                    </div>
                  </div>
                </td>

                <td
                  class='px-6 py-4 border-b border-gray-200 whitespace-nowrap  max-w-[300px] overflow-hidden'
                >
                  <div class='text-sm leading-5 text-gray-500'>
                    {{description}}
                  </div>
                </td>

                <td
                  class='px-6 py-4 border-b border-gray-200 whitespace-nowrap'
                >
                  <div class='text-sm font-medium leading-5 text-gray-900'>
                        {{address}}
                      </div>
                      <div class='text-sm leading-5 text-gray-500'>
                        {{phoneNumber}}
                      </div>
                </td>

                <td class='px-6 py-4 border-b border-gray-200 whitespace-nowrap'>
                <span class='inline-flex px-2 text-xs font-semibold leading-5 {{#if status}}text-green-800 bg-green-100{{else}}text-red-800 bg-red-100{{/if}} rounded-full'>
                    {{#if status}}active{{else}}inactive{{/if}}
                </span>
                </td>


                <td
                  class='px-6 py-4 text-sm font-medium leading-5 text-right border-b border-gray-200 whitespace-nowrap'
                >
                  <a
                    onclick="edit('{{id}}', '{{avatar}}', '{{name}}', '{{description}}', '{{address}}', '{{phoneNumber}}')"
                    class='text-indigo-600 hover:text-indigo-900 hover:cursor-pointer'
                  >Edit</a>

                  <a
                    onclick="deletePublisher('{{id}}', '{{name}}')"
                    class='text-red-600 hover:text-red-900 ml-5 hover:cursor-pointer'
                  >Delete</a>
                </td>
              </tr>{{/each}}

          </tbody>
        </table>

        <div class='flex justify-between items-center mt-5 mb-4 px-5'>
          <div>
            <label for='limit' class='mr-2'>Items per page:</label>
            <select id='limit' class='border rounded p-2'>
              <option value='5'>5</option>
              <option value='10'>10</option>
              <option value='20'>20</option>
            </select>
          </div>
          <div>
            <button
              id='prevPage'
              class='bg-blue-500 text-white px-4 py-2 rounded mr-2'
            >Previous</button>
            <span id='pageInfo' class='mr-2'></span>
            <button
              id='nextPage'
              class='bg-blue-500 text-white px-4 py-2 rounded'
            >Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="js/publisher/create.js"></script>
<script src="js/publisher/edit.js"></script>
<script src="js/publisher/delete.js"></script>
<script src="js/upload.js"></script>